<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payment.auth.database.UserMapper">

    <insert id="createUser" parameterType="com.payment.auth.model.request.SignUp">
        INSERT INTO user (
            id,
            password,
            name,
            transaction_pw,
            salt
        )
        VALUES (
            #{id},
            #{password},
            #{name},
            #{transactionPw},
            #{salt}
        )
    </insert>

    <select id="idCheck" parameterType="com.payment.auth.model.request.IdCheck" resultType="Integer">
        SELECT EXISTS (select id from user where id = #{targetId}) as success;
    </select>

</mapper>