.LeftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .list {
    flex: 1;    
    overflow: hidden;
  }
  overflow: hidden;
}

.RightContainer {
  
  width: 100%;
  height: 100%;

  min-width: 200px;

  display: flex;
  flex-direction: column;
}

.Default {
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    width: 140px;
    height: auto;
  }
}